* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  margin: 0 auto;
  width: 1440px;
  margin-bottom: 130px;
}
.headerFoto {
  margin-bottom: 70px;
}
div.bar a:hover {
  color: rgb(249, 207, 40);
  zoom: 120%;
}
.navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.logo {
  margin-top: 30px;
}
.search {
  border: 0;
  margin-top: 50px;
}
.search__input {
  background-image: url(/src/icons/Lupa.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  background-size: 15px;
  width: 230px;
  height: 26px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background-color: #000000;
  color: white;
  padding-left: 30px;
}
.search > input::placeholder {
  color: white;
}
.search button {
  border: 0;
  width: 30px;
  height: 28px;
  cursor: pointer;
  border-radius: 5px;
}
input[type="text"] {
  height: 25px;
}
.header_cart_like {
  width: 80px;
  justify-content: space-between;
  display: flex;
  margin-top: 40px;
}
.header__button__like,
.header__button__cart {
  width: 25px;
  height: 22px;
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
}
.bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
}
.title_shop_cart {
  display: flex;
  justify-content: center;
}
.login-wraper {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 178px;
}
.login-background {
  margin: 0 auto;
  width: 427px;
  height: 440px;
  background-image: url(/src/img/other/Rectangle\ 98sadasdasd.png);
  text-align: center;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 35px;
}
.login-background__registretion {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 25px;
}
.login-form__email,
.login-form_password {
  margin-bottom: 25px;
}
.login-form__remaber-me {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffc700;
  margin-bottom: 25px;
}
.login-form__input {
  width: 380px;
  height: 40px;
  color: #ffc700;
  background: black;
  outline: none;
  border: none;
  padding: 25px;
}
.login-form__remaber-me__check {
  margin-left: 10px;
}
.login-form__button {
  cursor: pointer;
  width: 220px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffc700;
}
.login-form__button__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  color: #ffc700;
}
.footBackground {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(/src/img/footer/Rectangle\ footer.png);
  width: 100%;
  height: 260px;
}
.logo {
  margin-bottom: 20px;
}
.btnn {
  cursor: pointer;
  background: url("/src/icons/Vector\ Telegram.png") no-repeat center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffc700;
}
.btn2 {
  cursor: pointer;
  background: url("/src/icons/viber\ 1.png") no-repeat center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin-left: 20px;
  background-color: #ffc700;
}
.information,
.contacts {
  color: #f0f0f0;
}
.information > a {
  color: #b7b7b7;
}
.contacts {
  color: #f0f0f0;
}
.followUs {
  line-height: 20px;
  color: #f0f0f0;
}
.followUs p {
  padding-top: 10px;
  margin-bottom: 15px;
  color: #b7b7b7;
}
.followUs input {
  color: #000000;
  width: 260px;
  opacity: 75%;
}
.followUs button {
  cursor: pointer;
  background-color: #ffc700;
  color: black;
  width: 150px;
  height: 35px;
  border-radius: 5px;
}
.information__menu__item,
.contacts__menu__item {
  list-style-type: none;
  line-height: 1.5;
}
